# Logger
LOGGER_PRETTY_CONSOLE=true
LOGGER_LEVEL=debug

# Mysql
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_DB_NAME=

# Redis
REDIS_ADDR=localhost:6379

# HTTP
HTTP_PORT=8080

# JWT
JWT_SECRET=
JWT_TTL=20m
